.container {
    max-width: 100%;
}
.navbar, footer {
    background-color: #34568B;
}
.logo {
    width: 2em;
}
.carousel-item {
    transition-delay: 0.3s;
}
.carousel-item img {
    max-height: 60vh;
}
.container {
    margin-top: 7.4em;
}
textarea {
    resize: none;
}
.btn {
    background-color: #34568B;
    color: #fff;
}
.btn:hover {
    background-color: #46689e;
    color: #fff;
}
.mt {
    margin-top: 10em;
}
.mt2 {
    margin-top: 4.5em;
}
