.container {
    max-width: 100%;
}
.navbar {
    background-color: #926AA6;
}
.logo {
    width: 2em;
}
.carousel-item {
    transition-delay: 0.3s;
}
.carousel-item img {
    width: 100%;
    max-height: 55vh;
}
.container {
    margin-top: 8em;
}
textarea {
    resize: none;
}
.btn {
    background-color: #926AA6;
    color: #fff;
}
.btn:hover {
    background-color: #a781b9;
    color: #fff;
}
footer {
    background-color: #926AA6;
}
